.rx-translation-button {
    -fx-text-fill: #333333;
    -fx-font-size: 22;
}

.welcomeLabel {
    -fx-background-image: url("../images/admin_bg.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-font:72 "幼圆";
    -fx-text-fill: #ffffff;
}

.borderPane {
    -fx-background-image: url("../images/admin_bg.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

/* 修改TabPane的Pane区域背景颜色 */
.tab-pane {
    -fx-background-color: #e6e6e6;
}
/* 修改Tab的背景颜色 */
.tab {
    -fx-background-color: #e8d7fd;
}
/* 修改顶栏的背景颜色 */
.tab-pane>*.tab-header-area>*.tab-header-background
{
    -fx-background-color: -fx-outer-border, -fx-text-box-border, white;
}
/* 修改Tab中文本的颜色 */
.tab-label {
    -fx-text-fill: rgba(91, 91, 91, 0.86);
}
/* 子代选择器，Tab选中的时候选择其子元素tab-label */
.tab:selected .tab-label {
    -fx-text-fill: #003333ff;
}
/* tab选中时设置背景颜色 */
.tab:selected {
    -fx-background-color: #ddb8f4;
}
/* Tab选中的时候选中其边框并修改样式 */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 0px;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: #4d1a4dff;
}

.whiteAP {
    -fx-background-color: white;
}